<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="connectionString" value="	workstation id=SIWVentas.mssql.somee.com;packet size=4096;user id=smartresults_SQLLogin_1;pwd=6f4pwuc5gf;data source=SIWVentas.mssql.somee.com;persist security info=False;initial catalog=SIWVentas"/>
  </appSettings>
</configuration>
